<h1><%= @product.title %></h1>
<p><%= number_to_currency(@product.price, {unit: "£"}) %></p>
<p><%= @product.description %></p>
<!-- <p><%= @product.categories.map {|c| c.name }.join(", ")  %></p> -->
<p><%= @product.categories.map(&:name).join(", ")  %></p>
<h2>Create a comments</h2>
<%= render "/comments/form" %>

<div id="comments">
  <% @product.comments.each do |c| %>
    <%= render "/comments/comment", comment: c %>
  <% end %>
</div>
